html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../images/bg-left.svg');
    background-position: center;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.pokedex-container {
    height: 100%;
    width: 100%;
    background: linear-gradient(115deg, transparent 45%,#F4523B 45%, #F4523B 55%, #FA7248 50%);
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #4a4a4aa8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 2em;
    font-weight: 600;
}

.header > div {
    mix-blend-mode: unset;
    display: flex;
    height: 80%;
    align-items: center;
    color: white;
    padding-left: 25px;
}

.pokeball-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.pokeball-stats {
    display: flex;
    height: 100%;
    width: 125px;
    background-color: #595959;
    border-radius: 15px;
    margin: 8px;
    justify-content: space-evenly;
    align-items: center;
}

.caught-pokeball img{
    height: 35px;
}

.right-header {
    width: 60%;
    justify-content: center;
}

.left-header {
    width: 40%;
    justify-content: space-between;
}

.pokemon-image {
    height: 100%;
    width: 50%;
}

/*LIST*/

.pokemon-list{
    height: 80%;
    width: 40%;
    overflow-y: auto;
    padding: 20px 30px;
    margin: 20px 20px 20px 0px;
}

.pokemon-list-item{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 35px;
    align-items: center;
    color: black;
    border-radius: 100px;
    margin: 30px 0px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pokemon-list-item img:nth-last-of-type(){
    filter: invert(1) opacity(0.5);
}

.pokemon-list .item-active{
    background: linear-gradient(115deg, #F0501E 35%,#000000 35%);
    box-shadow: 0 0 15px black;
    color: white;
}

.pokemon-list .item-active img{
    filter: opacity(100%);
}

.pokemon-list-image{
    position: absolute;
    height: 120px;
    width: 120px;
    transform: translateX(-25px);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.pokemon-list .item-active .pokemon-list-image{
    filter: grayscale(0%) opacity(1);
}

.pokemon-list::-webkit-scrollbar-track
{
	background-color: #900000;
}

.pokemon-list::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.pokemon-list::-webkit-scrollbar-thumb
{
	background-color: #FF5A45;
}

.pokemon-id{
    margin-left: 100px;
}

.pokeball-list-icon img{
    height: 30px;
    width: 30px;
}


/*LIST*/