html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../images/bg-left.svg');
    background-position: center;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.pokedex-container {
    height: 100%;
    width: 100%;
    background: linear-gradient(115deg, transparent 45%,#F4523B 45%, #F4523B 55%, #FA7248 50%);
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #4a4a4aa8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 2em;
    font-weight: 600;
}

.header > div {
    mix-blend-mode: unset;
    display: flex;
    height: 80%;
    align-items: center;
    color: white;
    padding-left: 25px;
}

.pokeball-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.pokeball-stats {
    display: flex;
    height: 100%;
    width: 125px;
    background-color: #595959;
    border-radius: 9001px;/*It's over?*/
    justify-content: space-evenly;
    align-items: center;
}

.caught-pokeball img {
    height: 35px;
}

.seen-pokeballs {
    width: 400px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.search-pokeball {
    display: flex;
    align-items: center;
}

.search-pokeball img {
    height: 35px;
    width: 35px;
}

#pokemonSearch {
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #595959;
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 10px;
    font-weight: 600;
}

#pokemonSearch:focus {
    outline: none;
}

.search-icon img{
    height: 50px;
    width: 50px;
}

.right-header {
    width: 60%;
    justify-content: center;
}

.left-header {
    width: 40%;
    justify-content: space-between;
}

.pokemon-image {
    height: 40%;
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
}

.pokemon-image img {
    transition: all ease-in 0.3s;
}
/*LIST*/

.pokemon-list {
    height: 80%;
    width: 40%;
    overflow-y: auto;
    padding: 20px 30px;
    margin: 20px 20px 20px 0px;
}

.pokemon-list-item {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px 0px 35px;
    align-items: center;
    color: black;
    border-radius: 100px;
    margin: 30px 0px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.pokemon-list-item img:nth-last-of-type() {
    filter: invert(1) opacity(0.5);
}

.pokemon-list .item-active, .pokemon-list .pokemon-list-item:hover {
    background: linear-gradient(115deg, #F0501E 35%,#000000 35%);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
    color: white;
}

.pokemon-list .item-active img {
    filter: opacity(100%);
}

.pokemon-list-image {
    position: absolute;
    height: 120px;
    width: 120px;
    transform: translateX(-45px);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.pokemon-list .item-active .pokemon-list-image {
    filter: grayscale(0%) opacity(1);
}

.pokemon-list::-webkit-scrollbar-track {
	background-color: #900000;
}

.pokemon-list::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.pokemon-list::-webkit-scrollbar-thumb {
	background-color: #FF5A45;
}

.pokemon-id {
    margin-left: 65px;
}

.item-active .pokeball-list-icon,
.pokemon-list-item:hover .pokeball-list-icon {
    opacity: 1;
    filter: unset;
}

.pokeball-list-icon {
    opacity: 0.7;
    filter: invert(1);
}

.pokeball-list-icon img {
    height: 30px;
    width: 30px;
}

.pokemon-list-item.item-active {
    transform: scale(1.03);
}

.pokemon-list-item:hover {
    transform: scale(1.05);
    margin: 40px 0;
}

/*LIST*/

.test {
    height: 100vh;
    width: 100vw;
}

.type {
    height: 20px;
    width: 100px;
    display: block;
}

.type-bug {
    background: #729f3f;
}

.type-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.type-fairy {
    background: #fdb9e9;
}

.type-fire {
    background: #fd7d24;
}

.type-ghost {
    background: #7b62a3;
}

.type-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.type-normal {
    background: #a4acaf;
}

.type-psychic {
    background: #f366b9;
}

.type-steel {
    background: #9eb7b8;
}

.type-dark {
    background: #707070;
}

.type-electric {
    background: #eed535;
}

.type-fighting {
    background: #d56723;
}

.type-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.type-grass {
    background: #9bcc50
}

.type-ice {
    background: #51c4e7;
}

.type-poison {
    background: #b97fc9;
}

.type-rock {
    background: #a38c21;
}

.type-water {
    background: #4592c4;
}